# AE2 beta-1 diagnostics records became public in later versions. Apeiron's exact counters use these records.
public gregtech.api.util.GTRecipe getCachedCombinedItemInputs()[Lgregtech/api/util/GTRecipe$RecipeItemInput;
public appeng.me.cluster.implementations.CraftingCPUCluster$TaskProgress
public appeng.me.cluster.implementations.CraftingCPUCluster$TaskProgress <init>()V
public appeng.me.cluster.implementations.CraftingCPUCluster$finalOutput
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CraftingTimingRecord
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CraftingTimingRecord <init>(JJLappeng/me/diagnostics/CraftingDiagnosticSessionId;)V
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CraftingTimingRecord getStartTick()J
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CraftingTimingRecord getEndTick()J
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CraftingTimingRecord getElapsedTicks()J
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CraftingTimingRecord getDiagnosticSessionId()Lappeng/me/diagnostics/CraftingDiagnosticSessionId;
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CompletedDiagnosticRecord
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CompletedDiagnosticRecord <init>(Lappeng/api/storage/data/IAEStack;Lappeng/me/diagnostics/CraftingDiagnosticSessionId;JJJJ)V
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CompletedDiagnosticRecord getProducedAmount()J
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CompletedDiagnosticRecord getOutput()Lappeng/api/storage/data/IAEStack;
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CompletedDiagnosticRecord getDiagnosticSessionId()Lappeng/me/diagnostics/CraftingDiagnosticSessionId;
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CompletedDiagnosticRecord getStartTick()J
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CompletedDiagnosticRecord getEndTick()J
public appeng.me.cluster.implementations.CraftingCpuDiagnostics$CompletedDiagnosticRecord getElapsedTicks()J
